@model RSHCEnteties.Enteties.RSHCEmployee

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>@ViewBag.Title</h2>
                <ol>
                    <li>@Html.ActionLink("RSHC Demo", "Index", "Home", new { area = "" }, new { @class = "logo me-auto me-lg-0" })</li>
                    <li>@ViewBag.Title</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">
                <h3>Are you sure you want to delete this employee?</h3>
                <div>
                    <div class="portfolio-info">
                
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.OfficeLocation.OfficeValue)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.OfficeLocation.OfficeValue)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.UserID)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.UserID)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.LastName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LastName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FirstName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.MI)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.MI)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DisplayName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DisplayName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FullName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FullName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Initials)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Initials)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Title)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Title)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Phone)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Phone)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PrivateEMail)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PrivateEMail)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.RSHCEMail)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.RSHCEMail)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.AdmittedIn)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.AdmittedIn)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.AdmittedOut)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.AdmittedOut)
                            </dd>

                        </dl>
                    </div>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-outline-dark" /> |
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                        }
                    </div>
                </div>
        </section>
    </section>

</main><!-- End #main -->