@model RSHCEnteties.Enteties.RSHCEmployee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RSHCEmployee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OfficeLocation.OfficeValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficeLocation.OfficeValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Initials)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Initials)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrivateEMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrivateEMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RSHCEMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RSHCEMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdmittedIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdmittedIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdmittedOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdmittedOut)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
