@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RSHC</title>

    <!-- Favicons -->
    <link href="RshcCustomTheme/img/favicon.png" rel="icon">
    <link href="RshcCustomTheme/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    @Styles.Render("~/Content/rshcthemestyle")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @if (Request.IsAuthenticated && @ViewBag.Title == "Home Page")
    {
        <!-- ======= Header ======= -->
        <header id="header" class="fixed-top">
            <div class="container d-flex align-items-center justify-content-lg-between">

                @*  <h1 class="logo me-auto me-lg-0"><a href="./">RSHC Demo<span>.</span></a></h1>*@
                <h1>@Html.ActionLink("RSHC Demo", "Index", "Home", new { area = "" }, new { @class = "logo me-auto me-lg-0" })</h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                <nav id="navbar" class="navbar order-last order-lg-0">
                    <ul>
                        <li class="dropdown">
                            <a href="#"><span>Litera Users</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li>@Html.ActionLink("All", "", "Litera")</li>
                                <li>@Html.ActionLink("All Lisences", "", "Lisenses")</li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#"><span>My Account</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li>@Html.ActionLink("Account Info", "Index", "Manage")</li>
                            </ul>
                        </li>
                    </ul>

                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->
                @*   <a href="#about" class="get-started-btn scrollto">Get Started</a>*@
                <div class="log-in-btn scrollto"> @Html.Partial("_LoginPartial")</div>
            </div>
        </header><!-- End Header -->
    }

    @if (Request.IsAuthenticated && @ViewBag.Title != "Home Page")
    {
        <!-- ======= Header ======= -->
        <header id="header" class="fixed-top header-inner-pages">
            <div class="container d-flex align-items-center justify-content-lg-between">

                @*  <h1 class="logo me-auto me-lg-0"><a href="./">RSHC Demo<span>.</span></a></h1>*@
                <h1>@Html.ActionLink("RSHC Demo", "Index", "Home", new { area = "" }, new { @class = "logo me-auto me-lg-0" })</h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                <nav id="navbar" class="navbar order-last order-lg-0">
                    <ul>
                        <li class="dropdown">
                            <a href="#"><span>Litera Users</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li>@Html.ActionLink("All", "", "Litera")</li>
                                <li>@Html.ActionLink("All Lisences", "", "Lisenses")</li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#"><span>My Account</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li>@Html.ActionLink("Account Info", "Index", "Manage")</li>
                            </ul>
                        </li>
                    </ul>

                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->
                @*   <a href="#about" class="get-started-btn scrollto">Get Started</a>*@
                <div class="log-in-btn scrollto"> @Html.Partial("_LoginPartial")</div>
            </div>
        </header><!-- End Header -->
    }

    @if (!Request.IsAuthenticated)
    {

        <!-- ======= Header ======= -->
        <header id="header" class="fixed-top header-inner-pages">
            <div class="container d-flex align-items-center justify-content-lg-between">

                <h1>@Html.ActionLink("RSHC Demo", "Index", "Home", new { area = "" }, new { @class = "logo me-auto me-lg-0" })</h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                <nav id="navbar" class="navbar order-last order-lg-0">
                    <ul>
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link scrollto" })</li>
                        <li><a class="nav-link scrollto" href="#about">About</a></li>
                        <li><a class="nav-link scrollto" href="#services">Services</a></li>
                        <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
                        <li><a class="nav-link scrollto" href="#team">Team</a></li>
                        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->
                @*  <a href="#about" class="get-started-btn scrollto">Get Started</a>*@
                <div class="log-in-btn scrollto"> @Html.Partial("_LoginPartial") </div>
            </div>
        </header><!-- End Header -->

    }

    @RenderBody()

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <h3>RSHC<span>.</span></h3>
                            <p>
                                70 W. Madison Street, Suite 2900 <br>
                                Chicago, Illinois 60602<br><br>
                                <strong>Phone:</strong> 312.471.8700<br>
                                <strong>Email:</strong> info@rshc-law.com<br>
                            </p>
                            <div class="social-links mt-3">
                                <a href="https://twitter.com/rshc_llp" class="twitter"><i class="bx bxl-twitter"></i></a>
                                <a href="https://www.facebook.com/RileySaferHolmesandCancila/" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="https://www.instagram.com/RSHC_LAW_FIRM/" class="instagram"><i class="bx bxl-instagram"></i></a>
                                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                                <a href="https://www.linkedin.com/company/7794366/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Litigation & Trial</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Business Transactions</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Industry Experience</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Our Newsletter</h4>
                        <p>Get more information about RSHC delivered to your email</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>

                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>RSHC</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://www.rshc-law.com/">Riley Safer Holmes &amp; Cancila LLP</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/rshcthemescripts")
    @RenderSection("scripts", required: false)
</body>
</html>
