@model RSHCEnteties.Enteties.RSHCDevice

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>@ViewBag.Title</h2>
                <ol>
                    <li>@Html.ActionLink("RSHC Demo", "Index", "Home", new { area = "" }, new { @class = "logo me-auto me-lg-0" })</li>
                    <li>@ViewBag.Title</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">

            <div>
                <h4>RSHCDevice</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.SerialNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SerialNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DeviceStatus)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DeviceStatus)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Brand)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Brand)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Model)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Model)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.RAM)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RAM)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SSDSize)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SSDSize)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ComputerName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ComputerName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BuildDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BuildDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Notes)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Notes)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </section>

</main><!-- End #main -->